* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    --lightest: #f0eff3;
    --light: #D8D2E1;
    --mid: #b07a79;
    --dark: #34435E;
    font: normal 18px/1.6 'Barlow Condensed', sans-serif;
}

.termsfeed-com---palette-light.termsfeed-com---nb {
    position: fixed;
}

#open_preferences_center {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--lightest);
    padding: 0.5em 1em;
    border: 2px solid var(--light);
    border-width: 2px 2px 0 0;
    border-radius: 0 5px 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
}

body {
    background-color: var(--lightest);
    color: var(--dark);
}

header {
    background-color: var(--mid);
    color: var(--lightest);
}

nav {
    margin: 0 auto;
    padding: 1rem 3vw;
    max-width: 1499px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 2em 0 0;
}

main {
    padding: 3rem 0;
    min-height: 80vh;
}

section {
    padding: 2rem 3vw;
    margin: 0 auto;
    max-width: 1499px;
}

.trio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    padding: .4em 1.2em;
    margin: 0 .5em;
    background-color: var(--mid);
    border: 2px solid var(--mid);
    border-radius: 4px;
    color: var(--lightest);
    text-transform: uppercase;
    transition: 150ms;
}

button:hover {
    background-color: transparent;
    color: var(--mid);
}

h1 {
    color: var(--mid);
    font: normal 2.4rem/1 'Anton', sans-serif;
    padding: 0 0 .4em;
    text-align: center;
}

h2 {
    color: var(--mid);
    font: normal 1.8rem/1.2 'Anton', sans-serif;
    padding: 0 0 .5em;
}

.form-box {
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--light);
    padding: 1.5em 5vw;
    border-radius: 20px;
}

select option:first-child {
    display: none;
}

footer {
    background-color: var(--light);
}

.footer-inner {
    margin: 0 auto;
    padding: 2rem 3vw;
    max-width: 1499px;
    text-align: center;
}

.mini-form-box {
    max-width: 600px;
    padding: 0 0 1rem;
    margin: 0 auto;
}